/* .navbar {
    background-color: rgb(136, 66, 136);
}

.nav-link {
    color: aliceblue !important;
}

.navbar-brand {
    color: aliceblue;
}

.navbar-nav {
    margin-left: auto !important;
}

body {
    background-image: url(image.avif);
    background-repeat: no-repeat;
} */